@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body { margin: 0; }

button{
  border: none;
  background-color: var(--red);
  color: white;
  padding: 5px 10px;
}

button:hover, a:hover{
  cursor: pointer;
}

figure {
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --red: #D01C28;
  --gray: #626262;
}

.App{
  background-color: white;
  padding: 0 10%;
}

/*********** Media Queries ***********/
@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .App{ padding: 0 5%; }
}

@media only screen and (max-width: 700px) {
  .App{ padding: 0 30px 30px 30px; }
}

@media only screen and (max-width: 400px){
  .App{ padding: 0 10px 10px 10px; }
}