@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body { margin: 0; }

button{ border: none; }

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.App{
  background-color: white;
}

header{
  /* background-color: aliceblue; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

header .brand-img{
  width: 80px;
}

header > nav > a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-weight: 500;
}

header > button {
  background-color: #D01C28;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
}