@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body { margin: 0; }

button{
  border: none;
  background-color: var(--red);
  color: white;
  padding: 5px 10px;
}

figure {
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --red: #D01C28;
  --gray: #626262;
}

.App{
  background-color: white;
  padding: 0 10%;
}

header{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .brand-img{
  width: 80px;
}

header > nav > a{
  all: unset;
  margin: 0 10px;
  font-weight: 500;
}

header > button { font-size: 15px; }

.App > main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.MainContent > h1{
  font-size: 70px;
  font-weight: 900;
  line-height: 80px;
  margin: 0;
}

.MainContent > .text{
  max-width: 300px;
  font-weight: 600;
  color: var(--gray);
  font-size: 13px;
  line-height: 18px;
}

.MainContent .btn-container{
  display: flex;;
  gap: 30px;
}

.MainContent .btn-container button{
  font-size: 17px;
  font-weight: 500;
}

.MainContent .btn-container button:last-child {
  background-color: white;
  color: var(--gray);
  border: 1px solid gray;
}

.ecommerce-container p{
  font-size: 15px;
  color: #7b7b7b;
  margin-top: 25px;
}

.ecommerce-container figure {
  display: flex;
  gap: 20px;
}

main .MainImg{
  display: flex;
  align-items: center;
}


/* .App > main > figure {
  justify-content: center;
} */